<div class="box_style_1">
    <div class="price">
        <strong>₹{{ trekPrice }} </strong><small>per person</small>
    </div>
    <ul class="list_ok">
        <li>1. Transport: Dehradun to Sankri and Return.</li>
        <li>2. Meals while on trek (Veg. + Egg).</li>
        <li>3. All necessary entry fees and permits.</li>
        <li>4. Accommodation:- Guest house, Home stay, camping during Trek.</li>
        <li>5. Mountaineering qualified & professional trek Leader, guide, cook and Support staff.</li>
        <li>6. First aid medical kits, stretcher and oxygen cylinder.</li>
        <li>7.Trek equipments: Sleeping bag, mattress, tent (twin sharing), kitchen & dinning tent, toilet tent, utensils and crampon (if required).</li>
        <li>8. Himalayan Hiking Club Staff Insurance.</li>
        <li>9. Porters/mules to carry central equipment.</li>
    </ul>
</div>