<ol class="breadcrumb">
    <li><a href="url_prefix - URL">Home</a></li>
    <li><a href="url_prefixls/discover-himalayas-with-some-amazing-treks - URL">Our Treks</a></li>
    <li class="active">{{ heading }}</li>
</ol>
<h1>{{ title }}</h1>
<p class="lead">{{ subHeading }}</p>

<hr class="rope">