<h4>Related links</h4>
<ul class="list_1">
    <li><a href="../himalayan-treks">Treking destinations in Uttrakhand</a></li>
    <li><a href="../kuari-pass-trek">Kuari Pass Trek – Uttrakhand</a></li>
    <li><a href="../roopkund-trek">Roopkund Trek – Uttrakhand</a></li>
    <li><a href="../valley-of-flowers-trek">Valley of Flowers Trek – Uttrakhand</a></li>
    <li><a href="../har-ki-dun-trek-uttrakhand">Har Ki Dun – Uttrakhand</a></li>
    <li><a href="../brahmatal-bekaltal-winter-trek-uttrakhand">Brahmatal, Bekaltal – Uttrakhand</a></li>
    <li><a href="../kedarkantha-peak-trek">Kedarkantha Peak Trek</a></li>
    <li><a href="../dayara-bugyal-trek">Dayara Bugyal Trek</a></li>
</ul>