<header>
   <div class="container">
    	<div class="row">
    		<div class="col-md-3 col-sm-3 col-xs-3">
    			<a href="../assets" id="logo">HIMALAYAN HIKING CLUB</a>
    		</div>
    		<div class="col-md-9 col-sm-9 col-xs-9">
				<div class="pull-right hidden-xs" id="phone"><a href="tel:{{ contactUs['contact-us'].phoneNumber }}">Call Us <strong>{{ contactUs['contact-us'].phoneNumber }}</strong></a></div>
    			<div class="pull-right hidden-xs req-call-back" id="phone"><a href="#requestCallBack" data-toggle="modal">Request a Call Back</a></div>
    		</div>
    	</div>
   </div>
</header><!-- End header -->

<nav>
   <div class="container"  id="menu_container">
    	<div class="row">
    		<div class="col-md-12">
    			<div id="mobnav-btn"></div>
    			<ul class="sf-menu">
                   <li class="mega_drop_down">
    				<a href="../../ls/discover-himalayas-with-some-amazing-treks">Our Hikes</a>
                    <div class="mobnav-subarrow"></div>
                    <div class="sf-mega">
                    	<div class="col-md-4 col-sm-6">
                        	<h5>Popular Treks</h5>
                                <ul class="mega_submenu">
                                	<li><a href="../../har-ki-dun-trek-uttrakhand">Har Ki Dun – Uttrakhand</a></li>
    								<li><a href="../../valley-of-flowers-trek">Valley of Flowers – Uttrakhand</a></li>
    								<li><a href="../../roopkund-trek">Roopkund Trek – Uttrakhand</a></li>
    								<li><a href="../../ls/discover-himalayas-with-some-amazing-treks">View all</a></li>
                                </ul>
                        </div>
                        <!-- div class="col-md-4 col-sm-6">
                        <h5>Hikes Areas</h5>
                                <ul class="mega_submenu">
                                	<li><a href="hike_area.html">Gran Paradiso</a></li>
                                    <li><a href="hike_area.html">In the heart of Alps</a></li>
                                    <li><a href="hike_area.html">Hiking in the Ecrins</a></li>
                                </ul>
                        </div -->
						<div class="col-md-4 col-sm-6">
							<h5>Special Offer </h5>
								<p><a href="../../kedarkantha-peak-trek" class="pic_offer"><strong>only ₹13500</strong><img src="../../templates/images/profile/kedarkantha-peak-trek/kedarkantha-peak-trek-navbar.jpg" alt="" class="img-responsive"></a></p>
								<p><strong>Kedarkantha Peak Trek</strong>The Kedarkantha Peak is one of the most sought after snow trekking destinations in India.</p>
						</div>
                    </div>
                    </li>
                    <li><a href="#requestCallBack" data-toggle="modal" >Enquiry</a></li>
                    <li><a href="../../s/about-us">About us</a></li>
                    <li class="mega_drop_down"><a href="../../ls/discover-himalayas-with-some-amazing-treks">Popular Treks</a>
                        <div class="mobnav-subarrow"></div>
                        <div class="sf-mega">
                            <div class="col-md-4 col-sm-6">
                                <h5>Kuari Pass Trek – Uttrakhand</h5>
                                <p><a href="../../kuari-pass-trek" class="pic_offer"><strong>View</strong><img src="../../assets/templates/images/profile/kuari-pass-trek/kuari-pass-trek-navbar.jpg" alt="" class="img-responsive"></a></p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <h5>Brahmatal, Bekaltal – Uttrakhand</h5>
                                <p><a href="../../brahmatal-bekaltal-winter-trek-uttrakhand" class="pic_offer"><strong>View</strong><img src="../../assets/templates/images/profile/brahmatal-bekaltal-winter-trek-uttrakhand/brahmatal-bekaltal-winter-trek-uttrakhand-navbar.jpg" alt="" class="img-responsive"></a></p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                               <h5>Kedarkantha Peak Trek</h5>
                                <p><a href="../../kedarkantha-peak-trek" class="pic_offer"><strong>View</strong><img src="../../assets/templates/images/profile/kedarkantha-peak-trek/kedarkantha-peak-trek-navbar.jpg" alt="" class="img-responsive"></a></p>
                            </div>
                        </div>
                    </li>
                    <li><a href="#requestCallBack" data-toggle="modal">Contact us</a></li>
    			</ul>
             </div><!-- End col md 12 -->
        </div><!-- End row -->
   </div> <!-- End menu_container -->
</nav><!-- End nav menu -->