<br><br><br>
<div class="row">
    <div class="col-md-12">
        <!--  Tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#essentials" data-toggle="tab">List Of Essentials</a></li>
            <li><a href="#exclusions" data-toggle="tab">Exclusions</a></li>
            <!-- li><a href="#cancellation" data-toggle="tab">Cancellation Policy</a></li -->
        </ul>
        <div class="tab-content">
            {% include '../common-sections/sectionListOfEssentials.njk' %}
            {% include '../common-sections/sectionExclusionsList.njk' %}
        </div>
    </div><!-- End col-md-6 -->

    <br><br><br>
    {%- include '../common-sections/sectionPanelsGroup.njk' -%}
</div>