--- 
title: Himalayan Hiking Club Listing Page
layout: "himalayanListingBase.njk"
--- 
       
{%- for trek in collections.trek -%}
<div class="media list_1">
    <div class="pull-right" ><a href="this trek url"><img src="{{ trek.data.listingPageImage | safe }}" alt="{{ trek.data.listingPageImageAlt | safe }}" class="img-rounded styled"></a></div>
    <div class="media-body">
        <a href="this trek url"><h3 class="media-heading">{{ trek.data.title | safe }} <small class="price_2">₹{{ trek.data.trekPrice | safe }}</small></h3></a>
        <p>{{ trek.data.shortDescription | safe }}</p>
        <ul class="data-lessons">
            <li><i class="icon-clock"></i>{{ trek.data.trekDuration | safe }}</li>
                <li class="po-markup">
                <i class="icon-list-numbered"></i> <a class="po-link" href="javascript:void(0)" >{{ trek.data.trekLevelType | safe }}</a>
                    <div class="po-content hidden">
                    <div class="po-title"><strong>{{ trek.data.trekLevelType | safe }}</strong></div> <!-- ./po-title -->
                    <div class="po-body">
                        <p class="no_margin">{{ trek.data.trekLevelDescription | safe }}</p>
                    </div><!-- ./po-body -->
                </div><!-- ./po-content -->
            </li>
        </ul>
        <a href="this trek url" class="button_medium">Read more</a>
        &nbsp;&nbsp;&nbsp;
        <a href="#requestCallBack" data-toggle="modal" class="button_medium">Quick Enquiry</a>
    </div> <!-- END - media-body -->
</div><!-- END media list_1 -->
{%- endfor -%}


