<!DOCTYPE html>
<html lang="en">

<head>

<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>{{ title }}</title>
<meta name="description" content="Profile page content to be filled | Trek with HIMALAYAN HIKING CLUB himalayanhikingclub">
<meta name="author" content="HIMALAYAN HIKING CLUB">

    <!-- Favicons-->
    <link rel="shortcut icon" href="../../assets/templates/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="../../assets/templates/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../../assets/templates/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="../../assets/templates/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../../assets/templates/img/apple-touch-icon-144x144-precomposed.png">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ title }}">
    <meta itemprop="description" content="{{ description }}">
    <meta itemprop="image" content="{{images[1].imageUrl}}"> 

    <!-- og- open graph tags - facebook -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{bannerImage}}">
    <meta property="og:image" content="{{images[1].imageUrl}}">
    <meta property="og:description" content="{{profile_master.pr_sub_heading_level_1}}">
    <meta property="og:site_name" content="Himalayanhikingclub">

	<!-- CSS -->
	<link href="../../assets/templates/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../assets/templates/css/superfish.css" rel="stylesheet">
	<link href="../../assets/templates/css/style.css" rel="stylesheet">
	<link href="../../assets/templates/fontello/css/fontello.css" rel="stylesheet">
	<link href="../../assets/templates/css/datepicker.css" rel="stylesheet">
	<link rel="stylesheet" href="../../assets/templates/js/fancybox/source/jquery.fancybox.css?v=2.1.4">
	<link href="../../assets/templates/css/weather.css" rel="stylesheet" >

	<!-- SLIDER REVOLUTION -->
	<link rel="stylesheet" href="../../assets/templates/css/extralayers.css" media="screen" />	
	<link rel="stylesheet" href="../../assets/templates/css/navstylechange.css" media="screen" />
	<link rel="stylesheet" href="../../assets/templates/rs-plugin/css/settings.css" media="screen" />

	<!-- Owl Carousel Assets -->
	<link href="../../assets/templates/css/owl.carousel.css" rel="stylesheet">
	<link href="../../assets/templates/css/owl.theme.css" rel="stylesheet">

	<!--[if lt IE 9]>
	      <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

</head>
	{%- include 'himalayanProfile/profileBody.njk' -%}
</html>