<body onload="displayCovid19Info()"></body>
	{%- include 'himalayanProfile/profileSections/sectionHeader.njk' -%}
	<div class="container">
		{%- include 'himalayanProfile/profileSections/sectionBannerTop.njk' %}
		{%- include 'himalayanProfile/profileSections/sectionMain.njk' -%}
	</div><!-- End container -->
	{%- include 'himalayanProfile/profileSections/sectionFooter.njk' -%}
</body>